<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.socialnetwork.abhishekchandale.snloginlib">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />


    <application android:allowBackup="true">

        <activity android:name=".core.OAuthActivity"></activity>
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges= "keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            />

    </application>

</manifest>
